{% extends "views/base.twig" %}

{% block content %}

    {% if function('is_front_page') %}
        {{ post.content }}
    {% elseif function('is_singular') %} <!-- Page or Post -->
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
                    <img src="{{ post.thumbnail.src }}" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-6 order-md-1" data-aos="fade">
                    <div class="text-left pb-1 border-primary mb-4">
                        <h2 class="text-primary">{{ post.title }}</h2>
                    </div>
                    {{ post.post_content }}
                </div>
            </div>
        </div>
    </div>
    {% elseif function('is_archive') or function('is_home') %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
            {% for post in posts %}
            {% include 'views/post-archive.twig' %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}