<div class="site-section" id="section-blog">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">{{ fields.title }}</h2>
                <p class="color-black-opacity-5">{{ fields.subtitle }}</p>
            </div>
        </div>
        <div class="row mb-5 align-items-stretch">
            {% for post in blog %}
            {% include 'views/post-archive.twig' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="300">
                <p class="mb-0"><a href="{{ site.link }}/blog" class="btn btn-primary py-3 px-5 text-white">View All Blog Posts</a></p>
            </div>
        </div>
    </div>
</div>