<div class="site-section block-13" id="section-industries">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="mb-0 text-primary">{{ fields.title }}</h2>
                <p class="color-black-opacity-5">{{ fields.subtitle }}</p>
            </div>
        </div>
    </div>
    <div class="owl-carousel nonloop-block-13">
        {% for industry in industries|slice(0,5) %}
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="{{ industry.url }}" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">{{ industry.title }}</h3>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>